<table>
  <thead>
    <th>NAME</th>
    <th>VALUE</th>
  </thead>
  <tbody>
    <tr>
      <td>NG_APP_ENV</td>
      <td>
        <span id="NG_APP_ENV">{{ "process.env.NG_APP_ENV" | env }}</span>
      </td>
    </tr>
    <tr>
      <td>NG_APP_VERSION</td>
      <td>
        <span id="VERSION">{{ "process.env.NG_APP_VERSION" | env }}</span>
      </td>
    </tr>
    <tr>
      <td>NG_APP_BRANCH_NAME</td>
      <td>
        <span id="NG_APP_BRANCH_NAME">{{
          "process.env.NG_APP_BRANCH_NAME" | env
        }}</span>
      </td>
    </tr>
    <tr>
      <td>NG_APP_USER_HOME</td>
      <td>
        <span id="NG_APP_USER_HOME">{{
          "process.env.NG_APP_USER_HOME" | env
        }}</span>
      </td>
    </tr>
  </tbody>
</table>
